.listItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.7rem;
  background-color: var(--color-background-light);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.listItem:hover {
  background-color: var(--color-background);
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.listItem .info {
  display: flex;
  flex-direction: column;
}

.listItem .info p {
  font-size: 0.9rem;
  margin: 0;
}
